[SETTINGS]
app_id = APP ID HERE
app_secret = APP SECRET HERE
app_uri = https://127.0.0.1:65010/authorize_callback
app_ua = USER AGENT STRING HERE
app_refresh = APP REFRESH TOKEN HERE
testing = 0
subreddittest = SUBREDDIT FOR TESTING

[HISTORY]
lastrelease = ID OF LAST RELEASE POST SUBMITTED TO SUBREDDIT
lastblog = ID OF LAST BLOG POST SUBMITTED TO SUBREDDIT

[HISTORY_TEST]
lastrelease = ID OF LAST RELEASE POST SUBMITTED TO TEST SUBREDDIT
lastblog = ID OF LAST BLOG POST SUBMITTED TO SUBREDDIT

[FLAIR]
release = RELEASE FLAIR TEMPLATE
blog = BLOG FLAIR TEMPLATE

[FLAIR_TEST]
release = RELEASE FLAIR TEST TEMPLATE
blog = BLOG FLAIR TEST TEMPLATE
